.expertise_section {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  gap: 5rem;
  background-color: #f1f1f1;
  padding: 4rem 0;
}

.head_container {
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: start;
  padding: 0 2.5rem;
}

.head_label {
  font-family: "neue montreal", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #171717;
}

.expertise_flex_col {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: 0 2.5rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .expertise_section {
    gap: 3.5rem;
  }

  .expertise_flex_col {
    gap: 4rem;
  }
}

@media (max-width: 600px) {
  .expertise_flex_col {
    padding: 0;
    gap: 4rem;
  }

  .expertise_section {
    gap: 3rem;
    padding: 3rem 1rem;
  }

  .head_container {
    padding: 0;
  }

  .head_label {
    color: #9ca3af;
  }
}

@media (max-width: 400px) {
  .expertise_section {
    gap: 3rem;
  }
}
