.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 4rem;
}

.head_container {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 0.75rem;
}

.head_container_h1 {
  font-family: "neue montreal", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #171717;
}

.head_container_p {
  width: 90%;
  font-family: "SuissIntl", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #222;
  letter-spacing: -0.015rem;
}

.flex_col_data {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 0.75rem;
}

.tech_flex_col {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.tech_label {
  font-family: "neue montreal", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba(23, 23, 23, 0.2);
}

.tech_line {
  height: 2px;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgba(23, 23, 23, 0.2);
  position: relative;
}

.tech_line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* anchor at the left */
  height: 100%;
  width: 100%;
  background-color: #171717;
  border-radius: 9999px;

  /* animation setup */
  transform: scaleX(0);
  transform-origin: right; /* grow from the right side */
  transition: transform 0.4s cubic-bezier(0.65, 0.05, 0, 1);
}

.tech_flex_col:hover .tech_line::after {
  transform: scaleX(1); /* expands fully */
  transform-origin: left;
}

/* Reponsive */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .head_container_h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .head_container_p {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 640px) {
  .head_container {
    gap: 1rem;
  }

  .head_container_h1 {
    font-size: 1.4rem;
    line-height: 1.75rem;
  }

  .head_container_p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .tech_label {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 400px) {
  .head_container_h1 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .head_container_p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .tech_flex_col {
    gap: 0.25rem;
  }

  .tech_label {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
