.testimonial_container_li {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.li_h2 {
  font-family: "neue montreal", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba(23, 23, 23, 0.2);
}

.li_location {
  font-family: "FormaDJRDisplay", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;

  letter-spacing: 0.025em;
  color: #222;
}

.testimonial_container_line {
  height: 2px;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgba(23, 23, 23, 0.2);
  position: relative;
}

.testimonial_container_line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* anchor at the left */
  height: 100%;
  width: 100%;
  background-color: #171717;
  border-radius: 9999px;

  /* animation setup */
  transform: scaleX(0);
  transform-origin: right; /* grow from the right side */
  transition: transform 0.4s cubic-bezier(0.65, 0.05, 0, 1);
}

.testimonial_container_li:hover .testimonial_container_line::after {
  transform: scaleX(1); /* expands fully */
  transform-origin: left;
}

.content {
  margin-top: 0.5rem;
  overflow: hidden;
}

.content_p {
  margin-top: 0.5rem;
  font-family: "FormaDJRDisplay", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  color: #222;
}

/* Responsive */
@media (max-width: 1024px) {
  .li_h2 {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .content_p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .li_h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .content_p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (max-width: 400px) {
  .li_h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .li_location {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
