.back_to_top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #171717;
  color: white;
}

.back_to_top:hover {
  background-color: rgba(23, 23, 23, 0.8);
}
