.btn {
  margin-top: 1rem;
  background: transparent;
  border: 1px solid #171717;
  outline: none;
  padding: 12px 40px;
  height: 55px;
  border-radius: 100px;
  overflow: hidden;
  transform: scaleX(1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-family: "FormaDJRDisplay", sans-serif;
}

.btn:hover {
  animation: animate-scaleX 0.6s cubic-bezier(0.4, 0, 0, 1);
  background: transparent;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #171717;
  transition:
    transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%);
}

.btn:hover::after {
  transform: translateY(0%);
  border-radius: 0;
}

.btn span {
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  color: #171717;
  z-index: 2;
}

.btn span:after {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  content: attr(data-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: #fff;
}

.btn:hover span:after {
  transform: translate(-50%, 0);
}

.btn:focus {
  outline: none;
}

@keyframes animate-scaleX {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05);
  }
  ccc 100% {
    transform: scaleX(1);
  }
}

@media (max-width: 680px) {
  .btn {
    margin-top: 1rem;
    padding: 12px 30px;
    height: 50px;
  }
  .btn span {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .btn {
    margin-top: 1rem;
    padding: 12px 30px;
    height: 50px;
  }
  .btn span {
    font-size: 17px;
  }
}
