.wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: #171717;
  font-family: "neue montreal", sans-serif;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track {
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  gap: 3rem;
  will-change: transform;
  transition: transform 0.1s linear;
}

/* Responsive  */
@media (max-width: 820px) {
  .wrapper {
    font-size: 8rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    font-size: 5rem;
    padding: 2rem 0;
  }
}
